<!-- child component of admin component -->

<ul class="list-group" *ngIf="studentTeacher">
    <span class="alert alert-primary" role="alert" *ngIf="noOfStudentTeacher < 1">No notifications</span>
    <li class="list-group-item" *ngFor="let item of studentTeacher">
        <span>Job_id: {{item.id}} </span><br>
        <span>Student: {{item.student.studentName}} </span><br>
        <span>TeacherCourseId: {{item.teacherCourse.id}}</span><br>
        <button (click)="conformStatus(item.id)" class="btn btn-info">Approve</button>
    </li>
</ul>